KEEPER_PRIVATE_KEY=0x...
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
PERP_ENGINE_ADDRESS=0xF07a3979f6D222b58b2081530F07347d0f79be5c
LIQUIDATION_ENGINE_ADDRESS=0x115eb5Dbf37b1e45B3c6B0f8303A11D05Ddb07B7
POLL_INTERVAL_MS=15000
MAX_SCAN=500
