KEEPER_PRIVATE_KEY=0x...
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
PERP_ENGINE_ADDRESS=0x4A9bf7E973F2693DB724135F8cfD04b3F5BbC691
LIQUIDATION_ENGINE_ADDRESS=0x90787e07D332b933DfBFbef848Fe88E872D6eCCb
POLL_INTERVAL_MS=15000
MAX_SCAN=500
